<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>

    <add name="ElmhurstJayceesEntities" connectionString="metadata=res://*/Models.ElmhurstJaycees.csdl|res://*/Models.ElmhurstJaycees.ssdl|res://*/Models.ElmhurstJaycees.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=elmhurstjaycees.db.9387464.hostedresource.com;Initial Catalog=ElmhurstJaycees;Persist Security Info=False;User ID=ElmhurstJaycees;Password=Cubs04!!;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ShortTrackerConn" connectionString="Server=Warehouse\sqlexpress;Database=ShortTracker;User Id=MFDBO;Password=C00k13!;"/>
    </connectionStrings>
  <appSettings>
    <add key="LoggingEnabled" value="True" />
    <add key="ApplicationName" value="Finra Tracker"/>
  </appSettings>
</configuration>